<div
        x-data="{loaded: false}"
        x-show="loaded" x-init="window.addEventListener('DOMContentLoaded', () => {setTimeout(() => loaded = false, 100)})"
     class="fixed left-0 top-0 flex h-screen w-screen items-center justify-center bg-white z-50">
    <div class="h-16 w-16 animate-spin rounded-full border-4 border-solid border-primary border-t-transparent"></div>
</div>