RewriteEngine On

# Stop processing if already in the /public directory
RewriteRule ^public/ - [L]

# Static resources if they exist
RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule (.+) public/$1 [L]

# Remove route parameter if its value is '500'
RewriteCond %{QUERY_STRING} (.*(?:^|&))route=500(?:&|$) [NC]
RewriteRule ^(.*)$ /$1? [R=302,L]

# Route all other requests
RewriteRule (.*) public/index.php?route=$1 [L,QSA]