{% extends 'base.html.twig' %}

{% block content %}

    <div class="py-8 px-4 mx-auto w-full">

            <div class=" flex justify-between w-full items-center mb-6">
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                    {{ 'Create a new practice'|trans }}
                </h2>
            </div>

            <form action="{{ url('pratiche/crea') }} " method="post" class="w-full" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('crea-pratica') }}">

                {% include 'pratiche/_form.html.twig' with {'button_label': 'Save'} %}

            </form>
        </div>

{% endblock %}
