{% extends 'base.html.twig' %}

{% block content %}


    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
        {{ 'Add new group'|trans }}
    </h2>

    <form action="{{ url('gruppi/crea') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('gruppi') }}"/>

        {% include 'gruppi/_form.html.twig' with {'button_label': 'Create'} only %}
    </form>

{% endblock %}
