{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1>Pratiche</h1>

    {% include 'table.html.twig' with { 'columns': ['id','nome'], 'rows': pratiche | map(a => [a.id, a.nome]) } %}



{% endblock %}
